body {
    /* background: rgb(219, 217, 217) !important; */
    background: #FFF0E9 ;
    /* opacity: 0.5; */
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color: black !important;
    font-size: 15px !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    line-height: 1.5 !important;
}

#slidediv{
  padding:15px;
}
.searchbar{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}


.PhotoFrame{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.myborder{
  border: solid 2px black;
  border-radius:30px;
  color:black;
  padding: 20px;
  background-color:antiquewhite;
  width: auto;
  margin:auto;
}
.main {
  /* padding: 16px; */
  margin-top: 40px;   /*fix every page content height*/
  /*height: 1500px;  Used in this example to enable scrolling */
}

#sidebar {
  width: 20%;
  /* padding: 10px; */
  margin: 0;
  float: left;
}
.category {
  font-size: 0.9rem;
  cursor: pointer
}

.list-group-item {
  border: none;
  padding: 0.3rem 0.4rem 0.3rem 0rem
}

.badge-primary {
  background-color: #FF9900;
  color: #fff
}

.brand .check {
  background-color: #FF9900;
  top: 3px;
  
}

.brand .tick {
  font-size: 1rem;
  padding-left: 25px
  
}


.brand .tick:hover input~.check,
.rating .tick:hover input~.check {
  background-color: #f9f9f9
}

.brand .tick input:checked~.check{
  background-color: #FF9900
}

.brand-label {
  background-color:#FF9900;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 3px
}

#products {
  width: 80%;
  padding: 10px;
  margin: 0;
  float: right;
}
/* .list-group .list-group-item {
  display: inline-block; 
} */
/* .list-group .list-group-item:focus {
  background-color: #41AADA !important; 
  color:#fff;
  display: inline-block;
} */
/* .list-group .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
} */
/* .list-group .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;  
} */
/* .list-group .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;   
}
.form-check label {
  padding:.75rem 1.25rem;
  margin-bottom:0;
} */
/* .form-check label input[type="checkbox"] {
  opacity:0;
} */
#map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-responsive iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

/* from here kw*/
#mrtCheckList { 
  border:2px solid whitesmoke; 
  width: auto; 
  padding: 5px;
  height: 200px; 
  overflow-y: scroll;
  color: brown;
}

.form-floating{  
  color:black;
}

.carousel-inner img {
  width: 100%;
  height: 100% ;
  opacity: 80%;
  filter: brightness(50%)


}

#cardDesc { 
  height: 200px; 
  overflow-y: scroll;

}

#cardDesc::-webkit-scrollbar {
  display: none;
}

.carouselButton {
  width: auto;
  float:none;
  font-size: 10px;
  display: block;
  padding: 5px;
   }

.carousel-inner h6{
  /* background-color:rgba(223, 236, 223, 0.377); */
  color:  white;
  letter-spacing: -0.05em;

}
/*  dont delete-kw
.carousel h2 {
  position: absolute;
  z-index: 3; // To appear above the slides
  margin-top: 3rem;
  margin-left: 3rem;
}

.carousel-item {
  // position: relative; 
}
.carousel-item h3 {
  position: absolute;
  margin-top: 10rem; // Adjust here the space from top
  margin-left: 3rem;  // Adjust here the space from left
  z-index: 2; // To appear above the image
}
.carousel-item img {
  position: absolute;
  z-index: 1; // To appear below the h3
} */

/* #CarouselTransparent {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;

} */



.footer {
  bottom: 0;
  margin-bottom: 0;
  display:inline-block;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
}


  



  

/*to here kw*/



