body {
    background-color: rgb(162, 230, 215) !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color: white !important;
    font-size: 15px !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    line-height: 1.5 !important;
}

#slidediv{
  padding:15px;
}
.searchbar{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}


.PhotoFrame{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.myborder{
  border: solid 2px black;
  border-radius:30px;
  color:black;
  padding: 20px;
  background-color:antiquewhite;
  width: auto;
  margin:auto;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

#sidebar {
  width: 20%;
  padding: 10px;
  margin: 0;
  float: left;
}
.category {
  font-size: 0.9rem;
  cursor: pointer
}

.list-group-item {
  border: none;
  padding: 0.3rem 0.4rem 0.3rem 0rem
}

.badge-primary {
  background-color: #defadb;
  color: #48b83e
}

.brand .check {
  background-color: #fff;
  top: 3px;
  
}

.brand .tick {
  font-size: 1rem;
  padding-left: 25px
  
}


.brand .tick:hover input~.check,
.rating .tick:hover input~.check {
  background-color: #f9f9f9
}

.brand .tick input:checked~.check{
  background-color: #61b15a
}

.brand-label {
  background-color: #defadb;
  color: #48b83e;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 3px
}

#products {
  width: 80%;
  padding: 10px;
  margin: 0;
  float: right;
}
/* .list-group .list-group-item {
  display: inline-block; 
} */
/* .list-group .list-group-item:focus {
  background-color: #41AADA !important; 
  color:#fff;
  display: inline-block;
} */
/* .list-group .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
} */
/* .list-group .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;  
} */
/* .list-group .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;   
}
.form-check label {
  padding:.75rem 1.25rem;
  margin-bottom:0;
} */
/* .form-check label input[type="checkbox"] {
  opacity:0;
} */
#map {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

/* from here kw*/
#mrtCheckList { 
  border:2px solid whitesmoke; 
  width: auto; 
  padding: 5px;
  height: 200px; 
  overflow-y: scroll;
  color: brown;
}

.form-floating{  
  color:black;
}

.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  top: 20;
  left: 0;
  overflow-x: hidden;
}

.attractionCard{
  margin-left: 200px
}
/*to here kw*/